<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize-css/normalize.css">
        <link rel="stylesheet" href="app/css/main.css">
        <script src="bower_components/modernizr/bin/modernizr.js"></script>
    </head>
    <body>   
        <div class="contanier">
            <header class="main-header">  
                <h1>League of Legends - Champions Showcase</h1>
            </header>
            
            <div class="content-contanier">
                <div class="row clearfix">
                    <section class="content column ">
                        <article class="content-article">
                            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg" alt="champion 1">
                        </article>
                        <section class="content-title">1 - Atrox</section>
                    </section>
                    <section class="content column ">
                        <article class="content-article">
                            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Shyvana_0.jpg" alt="champion 1">                            
                        </article>
                        <section class="content-title">2 - Shyvana</section>
                    </section>
                    <section class="content column ">
                        <article class="content-article">
                            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Lux_0.jpg" alt="champion 1">                            
                        </article>
                        <section class="content-title">3 - Lux</section>
                    </section>
                </div>
                <div class="row clearfix">
                    <section class="content column ">
                        <article class="content-article">
                            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Gnar_0.jpg" alt="champion 1">
                        </article>
                        <section class="content-title">4 - Gnar</section>
                    </section>
                    <section class="content column ">
                        <article class="content-article">
                            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Udyr_0.jpg" alt="champion 1">                            
                        </article>
                        <section class="content-title">5 - Udyr</section>
                    </section>
                    <section class="content column ">
                        <article class="content-article">
                            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Azir_0.jpg" alt="champion 1">                        
                        </article>
                        <section class="content-title">6 - Azir</section>
                    </section>
                </div>
            </div>
        </div>
        <script src="bower_componentes/jquery/dist/jquery.min.js"></script>
        <script src="app/js/main.js"></script>
    </body>
</html>