/* Custom Stylesheet */


body 
{
	font-size: 16px;
}
.icon-block 
{
  padding: 0 15px;
}
.icon-block .material-icons 
{
	font-size: inherit;
}

.is-hidden 
{
	display: none;
}

.loadingImage 
{
	width: 10%;
}

.requestBox 
{
	padding: 1em;
	margin: 0 30%;
}