/* Custom Stylesheet */


body 
{
	font-size: 16px;
}
.icon-block 
{
  padding: 0 15px;
}
.icon-block .material-icons 
{
	font-size: inherit;
}

.is-hidden 
{
	display: none;
}

.loadingImage 
{
	width: 10%;
}

.repolist 
{
	margin: 0 1.5em;
	vertical-align: top;
	display: inline-block;
}

.requestBox 
{
	padding: 1em;
	margin: 0 10%;
}

.mainContainer > section
{
	display: inline-block;
}