*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body
{
    height: 100%;
    height: 960px;
    background:  lightgray;
    color: lightgray;
    text-align: center;
    font-size: 14px;
    font-weight:  bold;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
}


.container {
    width: 90%;
    text-align: center;
    margin: 0 auto; 
}

.main-navigationbar,
.content,
.main-aside
{
    display: inline-block;
    height: 450px;
    vertical-align: top;
}

.main-header 
{
    background:  cadetblue;
    font-size: 46px;
}

.main-navigationbar
{
    width: 20%;
    background:  blueviolet;
    font-size: 12px;
}

.content
{
    width: 57%;
    background:  darkgray;
    font-size: 14px;
}

.content-header
{
    background : darkcyan;
}

.content-article {
    background:  beige;
}

.main-aside
{
    width: 20%;
    background:  coral;
    font-size: 10px;
}

.main-footer
{
    background:  orangered;
    font-size: 10px;
}


.container > * ,
.content > * 
{
    border-radius: 10px;
    border: 1px;
    border-color: black;
    padding: 1rem;
    margin: 0.2rem;
}

[class^="r"]
{
    background: darkmagenta;
}


[class *= "a"]:not([class $= "r"])
{
    background : darkcyan;
}


/* Medium screens (320px) */
@media (min-width: 320px) { 
  html { 
      font-size: 112%; 
  }
}

